<app-user></app-user>

<h1>que tal el defer?</h1>

<article>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, amet debitis repellat enim nulla porro neque suscipit atque tempora facilis exercitationem esse provident quae minima, ex natus eveniet numquam error? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus esse et earum nesciunt quos! Sapiente debitis iusto fugiat officia reprehenderit! Eum magni optio tempore aspernatur repudiandae beatae autem, illo fuga magnam earum veritatis quisquam. Debitis consequatur maiores cumque enim non?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolores quod blanditiis et voluptate voluptatum nobis maiores cupiditate obcaecati ullam impedit hic, aspernatur velit ex commodi incidunt tenetur provident eaque officia aperiam!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates est id eos velit odio ullam iste, quasi consequuntur maiores et quam nihil, aspernatur, vero rerum! Natus, repudiandae commodi doloremque perferendis tempora quod assumenda qui consequuntur, culpa tenetur sequi, earum asperiores praesentium? Quae, earum ullam repellendus commodi neque, voluptatibus animi, nihil repellat doloribus unde necessitatibus. Odit non deserunt accusantium esse, maxime dolores voluptatum sint fuga, rerum sed dolorem, eaque nemo quas repudiandae? Laudantium alias deleniti et iste recusandae quam nam ex iusto atque, maiores nihil excepturi officia a numquam aspernatur, cupiditate distinctio error tempore, quibusdam voluptates ipsa vel quo ullam! Accusantium.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint perferendis cumque autem, ad voluptatum dolores accusantium delectus eum voluptates perspiciatis ducimus odio commodi at, saepe recusandae. Fuga laboriosam eum maiores nemo id soluta. Omnis, assumenda! Perferendis explicabo optio sapiente qui amet, incidunt iure reprehenderit molestias consequatur aperiam laborum officiis, hic cumque nemo quas tempora dolorem voluptatibus eaque. Quo, quaerat optio quidem aspernatur explicabo ducimus unde impedit, excepturi pariatur provident nesciunt! Quas a tempora consequatur repellendus, dolores quos cupiditate incidunt consectetur asperiores dignissimos facere iusto accusantium sint, voluptatibus beatae nisi rerum est corrupti adipisci quaerat ipsa libero. Corporis, officia distinctio.</p>
  @defer (on viewport) {
    <app-coments></app-coments>
  } @placeholder {
    <p>futuros comentarios</p>
  } @loading {
    <p>CArgando comentarios...</p>
  }
</article>
